.banner-title {
    font-family: "Oleo Script", system-ui !important;
    color: #9c27b0;
}

ol li {
    margin-bottom: 8px;
}

#housekeeping {
    background-image: url(../../public/Images/empty-room-bg.jpg);
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seniorcare {
    background-image: url(../../public/Images/SeniorCare/senior-hero.png);
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 600px) {
    .grid-box {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 600px) {
    .grid-box {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}